body {
    background-color: rgb(228, 156, 167);
    justify-content: center;
}

h1 {
    color: red;
    text-align: center;
    font-size: 100px;
}

p {
    color: red;
    text-align: center;
    font-size: 30px;
    margin-top: -60px;
}



.ornament {
    fill: #c9473d;
    stroke: #000;
    stroke-width: 6;
    stroke-linejoin: round;
}

.heart {
    fill: #c9473d;
    margin-left: -270px;
}

input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 200px;  
    border: none;  
    background-color: transparent;

}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#percentage {
    font-size: 15px;
    text-align: center;
    font-size: 28px;
    width: 200px;
    margin-top: -100px;
    margin-left: 0px;
    z-index: 3;
}
.heart-frame {
    width: 400px;
    height: 400px;
    margin-left: 540px;
    margin-top: -350px;
}

#naam1div {
       background-image: url("Nameplate Valtijnsopdracht.png");
    background-position: 116px 153px;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: 58%;
}

#naam2div {
       background-image: url("Nameplate Valtijnsopdracht.png");
    background-position: 116px 153px;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: 58%;
}

#feedback {
    text-align: center;
    font-size: 50px;
    color: #c9473d;
    min-height: 1.4em;
    margin-top: 30px;
}
